# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/
build/
.eslintcache

# Project specific
data/raw/
data/extracted/
data/scrape_state.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
